<ion-content [fullscreen]="true">
   <button class="fechar" (click)="voltarTarefas()">
    ↩️
  </button>
   <div class="tarefa-info">
    <div class="emoji">{{ tarefa.emoji }}</div>
    <h2 class="titulo">{{ tarefa.titulo }}</h2>
  </div>

  <ion-card class="card-foto">
    <div class="preview-container" *ngIf="tarefa.foto">
  <img
    [src]="tarefa.foto"
    class="preview-foto"
  />
  </div>
  <button class="bnt-foto" (click)="tirarFoto()">
    📸 Tirar foto para comprovar
  </button>
  </ion-card>
     
  <button class="bnt-concluir" 
  (click)="confirmarTarefa()">
    ✅ Concluir tarefa
  </button> 

  <button
  class="bnt-excluir"
  *ngIf="tarefa.id > 3"
  (click)="excluirTarefa()"
  >
  🗑️ Excluir tarefa
  </button>
</ion-content>
