ion-content{
     --background: linear-gradient(
    180deg,
    rgb(142, 178, 241) 0%,
    rgba(202, 99, 204, 1) 100%
  );
 .fechar{
      position: absolute;
      background-color: transparent;
      font-size: 35px;
      top: 20px;           
      left: 12px;  
    }
    .tarefa-info {
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;  
    text-align: center;
    margin-top: -30px;
    padding: 60px 0;
    }
    .emoji {
    font-size: 70px;
    }
    .titulo{
        font-size: 2rem;
        color: white;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
    .card-foto{
        border-radius: 16px;
        margin-top: -30px;
        background-color: var(--ion-color-primary);
    }
    .bnt-foto, .bnt-concluir, .bnt-excluir{
        display: flex;
        align-items: center;      
        justify-content: center;          

        font-size: 18px;
        gap: 8px;                

        border-radius: 16px;
        border: none;
        color: black;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .bnt-foto{
        background-color: var(--ion-color-secondary);
        margin: 20px auto;
        padding: 20px 50px;
    }
    .bnt-concluir{
        background-color: var(--ion-color-success);
        margin: 20px auto;
        padding: 20px 120px;
    }
    .bnt-excluir{
       background-color: var(--ion-color-danger);
        margin: 20px auto;
        padding: 20px 125px; 
    }

   .preview-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
   }

    .preview-foto {
    max-width: 250px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    }

}