ion-content{
    .header{
      margin-top: -30px;
    }

    .fechar, .desfazer{
      position: absolute;
      background-color: transparent;
      top: 20px;  
      font-size: 35px;          
    }
    .fechar{
      left: 12px;
    }
    .desfazer{
      right: 12px; 
    }
    
    .emoji1{
       width: 100vw;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 60px 0;
       flex-direction: column;
      img{
        width: 71px;
        height: 71px;
      }
       p{
        font-size: 2rem;
       }
    }

   .listaTarefas{
      margin-top: -60px;
        ion-item{
          --background: transparent;
        }
        .tarefa-card {
          display: flex;
          flex-direction: column;
          background: var(--ion-color-primary);
          border-radius: 16px;
          padding: 20px;
          min-height: 130px;
        }
        .emoji {
          width: 50px;
          height: 50px;
          margin-left: -12px;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        .emoji span {
          font-size: 48px;
        }
        .botao-container {
        display: flex;
        justify-content: flex-end; 
        width: 100%;
      }

      .acao-btn {
        padding: 10px 40px;
        min-width: 160px;

        background: var(--ion-color-secondary);
        color: var(--ion-color-secondary-contrast);

        font-size: 16px;
        font-weight: 500;

        border: none;
        border-radius: 999px;
        cursor: pointer;
      }

      .titulo{
        font-size: 28px;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      }
      .datahora{
        color: var(--ion-color-secondary-contrast);
      }

      .add{
        background-color: transparent;
        border-radius: 16px;
      }
      .addTarefa{
        width: 100%; 

        display: flex;
        align-items: center;        
        justify-content: center;   

        border-radius: 16px;
        padding: 20px;
        min-height: 90px;
        flex-direction: column;
        background: var(--ion-color-primary);
        border-radius: 16px;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        padding: 20px;
        min-height: 90px;
        font-size: 30px;
      }
   }
}