ion-content{
    --background: linear-gradient(
    180deg,
    rgb(142, 178, 241) 0%,
    rgba(202, 99, 204, 1) 100%
    );
    .fechar{
      position: absolute;
      background-color: transparent;
      font-size: 35px;
      top: 20px;           
      left: 12px;  
    }
    .header{
      margin-top: 20px;
      text-align: center;
    }
     .emoji {
    font-size: 70px;
    margin: 0;
    }
    .titulo{
        font-size: 2rem;
        color: white;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

    ion-item {
    --background: transparent;
    }
    .addcard {
    --background: var(--ion-color-primary);
    border-radius: 16px;
    }
    .titulo-input{
        color: black;
        text-align: center;
        font-size: 20px;
    }
   .input-normal {
    display: block;

    width: 90%;
    max-width: 460px;
    margin: 0 auto 25px;

    padding: 12px 16px;

    text-align: center;
    font-size: 20px;
    font-family: 'Kameron', serif;

    background-color: white;
    color: black;

    border: none;
    border-radius: 999px;
    outline: none;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px;
    }
    .input-normal::placeholder {
    color: rgba(0, 0, 0, 0.4);
    }
    .add{
        background-color: transparent;
        border-radius: 16px;
    }
    .addTarefa{
        width: 100%;
        height: 55px;

        background-color: var(--ion-color-success);
        color: var(--ion-color-success-contrast);

        border: none;
        border-radius: 12px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        font-size: 20px;
        font-weight: 500;
        font-family: Kameron;


        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

        transition: transform 0.15s ease, box-shadow 0.15s ease;
    }    

}
