<ion-content [fullscreen]="true">
  <button class="voltar" (click)="voltarTarefas()">
      ↩️
  </button>
  <div class="header">
      <div class="emoji2">
        <img src="assets/emoji2.png" alt="emoji de olhos">
        <p>Conferir</p>
      </div>
  </div>
  <ion-card class="card-foto" *ngIf="tarefa.foto">
    <p class="datahora" *ngIf="tarefa.feito">
      Feito em: {{ tarefa.datetime }}
    </p>
    <div class="preview-container">
      <img
        [src]="tarefa.foto"
        alt="Foto de comprovação"
        class="preview-foto"
      />
    </div>
  </ion-card>
  <ion-card class="card-foto" *ngIf="!tarefa.foto">
    <p class="datahora" *ngIf="tarefa.feito">
      ✅ Feito em: {{tarefa.datetime | date:'dd/MM/yy HH:mm'}}
    </p>
    <div class="semfoto">
      <p class="semfotoText">😟 <br> Nenhuma foto foi enviada! </p>
    </div>
  </ion-card>
  <ion-card class="confirmar">
    <button class="ok" (click)="voltarTarefas()">
      OK! 👌
    </button>
  </ion-card>

  <ion-card class="resetar">
    <button
      class="btn-resetar"
      (click)="reiniciarTarefa()">
      🔄 Resetar tarefa
    </button>
  </ion-card>

  <ion-card class="lembrete">
    <button class="bnt-lembrete" (click)="irParaLembrete()">
      ⏱️ {{ tarefa.lembrete ? 'Editar lembrete' : 'Criar lembrete' }}
    </button>
  </ion-card>
</ion-content>
