ion-content{
     --background: linear-gradient(
    180deg,
    rgb(142, 178, 241) 0%,
    rgba(202, 99, 204, 1) 100%
  );
    .fechar{
        position: absolute;
        background-color: transparent;
        top: 20px;  
        font-size: 35px;
        left: 12px;          
    }

    .header{
      margin-top: -30px;
    }
    .emoji2{
       width: 100vw;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 60px 0;
       flex-direction: column;
      img{
        width: 75px;
        height: 70px;
      }
       p{
        font-size: 2rem;
        color: white;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
       }
    }
    .card-foto{
        margin-top: -50px;
        background-color: var(--ion-color-primary);
        border-radius: 16px;
    }
    .datahora{
        color: var(--ion-color-secondary-contrast);
        margin-left: 20px;
        font-size: 20px;
    }

    .preview-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
   }

    .preview-foto {
    max-width: 250px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    } 
    .confirmar{
        background-color: transparent;
        border-radius: 16px;
    }
    .ok {
    width: 100%;
    height: 55px;

    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);

    border: none;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-size: 20px;
    font-weight: 500;
    font-family: Kameron;


    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

    transition: transform 0.15s ease, box-shadow 0.15s ease;
    }    

    .semfoto{
        color: black;
        text-align: center;
        font-size: 20px;
    }
}