<ion-content [fullscreen]="true">
  <button class="voltar" (click)="voltarTarefas()">↩️</button>

  <div class="header">
    <div class="emoji2">
      <img src="assets/emoji2.png" alt="emoji de olhos" />
      <p>Conferir</p>
    </div>
  </div>

  <ion-card class="card-foto">
    <!-- ✅ método no lugar do pipe date -->
    @if (tarefa.feito) {
    <p class="datahora">✅ {{ formatarDataFeito(tarefa.datetime) }}</p>
    } @if (tarefa.foto) {
    <div class="preview-container">
      <img [src]="tarefa.foto" alt="Foto de comprovação" class="preview-foto" />
    </div>
    } @else {
    <div class="semfoto">
      <p class="semfotoText">
        😟 <br />
        Nenhuma foto foi enviada!
      </p>
    </div>
    } @if (tarefa.observacao) {
    <div class="observacao-container">
      <p class="observacao-texto">📝 {{ tarefa.observacao }}</p>
    </div>
    } @if (mostrarObs) {
    <div class="campo-observacao">
      <div class="textarea-wrapper">
        <textarea
          class="textarea-obs"
          [(ngModel)]="observacaoTexto"
          placeholder="Escreva uma observação sobre a tarefa..."
          maxlength="150"
        >
        </textarea>
        <p class="contador">{{ observacaoTexto.length }}/150</p>
      </div>
      <div class="bnts-obs">
        <button class="cancelar" (click)="fecharObservacao()">
          ❌ Excluir
        </button>
        <button class="salvar" (click)="salvarObservacao()">💾 Salvar</button>
      </div>
    </div>
    }
  </ion-card>

  <ion-card class="confirmar">
    <button class="ok" (click)="voltarTarefas()">OK! 👌</button>
  </ion-card>

  <ion-card class="resetar">
    <button class="btn-resetar" (click)="reiniciarTarefa()">
      🔄 Resetar tarefa
    </button>
  </ion-card>

  <ion-card class="observacao">
    <button class="bnt-observacao" (click)="observacao()">
      {{ tarefa.observacao ? '🗑️ Excluir observação' : '📝 Adicionar observação'
      }}
    </button>
  </ion-card>

  <ion-card class="lembrete">
    <button class="bnt-lembrete" (click)="irParaLembrete()">
      ⏱️ {{ tarefa.lembrete ? 'Editar lembrete' : 'Criar lembrete' }}
    </button>
  </ion-card>
  <br />
  <br />
  <br />
</ion-content>
