:host {
  display: block;
  height: 100%;
}


ion-content {
  --background: transparent;
  --overflow: hidden;
}


.background {
  position: fixed;
  inset: 0;
  z-index: 0;

  background: linear-gradient(180deg,
      rgba(142, 178, 241, 0.85) 0%,
      rgba(202, 99, 204, 0.9) 100%);
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  position: relative;
  z-index: 1;

  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


}



main p {
  font-size: 2rem;
  color: white;
  line-height: 1.2;
  padding: 0 15px;
  margin-bottom: 130px;

  text-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

ion-button { 
  font-size: 2.5rem;
  text-transform: none;
  color: white;
  margin-bottom: 140px;

  --border-radius: 16px;
  min-width: min(250px, 80vw);
  --padding-top: 10px;
  --padding-bottom: 10px; 
}